#header {
	height: 30px;
    background-color: cornflowerblue;
}
#main {
	height: 300px;
    background-color: azure;
}
#sub {
	height: 200px;
    background-color: darkgray;
}
#footer{
    height: 30px;
    background-color: cornflowerblue;
}