#header {
	height:  60px;
    background-color: darkseagreen;
}
#main {
	height: 300px;
    background-color: azure;
}
#sub {
	height: 300px;
    background-color: darkgray;
}
#footer{
    height: 60px;
    background-color: cornflowerblue;
}